{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out",
		"/rbxts-transformer-macros"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier",
		"no-relative-import-paths"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"no-inner-declarations": 0,
		"prettier/prettier": [
			"warn",
			{
				"semi": true,
				"trailingComma": "all",
				"singleQuote": false,
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": true,
				"endOfLine": "lf"
			}
		], "no-relative-import-paths/no-relative-import-paths": [
			"warn",
			{
				"rootDir": "src",
				"allowSameFolder": true
			}
		], "@typescript-eslint/explicit-member-accessibility": [
			"warn",
			{
				"accessibility": "no-public"
			}
		]
	}
}
